# お弁当の需要予想

In [45]:
import pandas as pd
import numpy as np

### データセットの読み込み

In [46]:
train = pd.read_csv("./train.csv")
test = pd.read_csv("./test.csv")
sample = pd.read_csv("./sample.csv",header=None)
print("Data Shapes")
print("Train:",train.shape, "Test:",test.shape, "Sample:",sample.shape)

Data Shapes
Train: (207, 12) Test: (40, 11) Sample: (40, 2)

### データフレームで中身を検証

In [47]:
train.index = pd.to_datetime(train["datetime"])
train.isnull().sum()

datetime           0
y                  0
week               0
soldout            0
name               0
kcal              41
remarks          186
event            193
payday           197
weather            0
precipitation      0
temperature        0
dtype: int64

In [48]:
train.head()

,datetime,y,week,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature
datetime,,,,,,,,,,,,
2013-11-18,2013-11-18,90,月,0,厚切りイカフライ,NaN,NaN,NaN,NaN,快晴,--,19.8
2013-11-19,2013-11-19,101,火,1,手作りヒレカツ,NaN,NaN,NaN,NaN,快晴,--,17.0
2013-11-20,2013-11-20,118,水,0,白身魚唐揚げ野菜あん,NaN,NaN,NaN,NaN,快晴,--,15.5
2013-11-21,2013-11-21,120,木,1,若鶏ピリ辛焼,NaN,NaN,NaN,NaN,快晴,--,15.2
2013-11-22,2013-11-22,130,金,1,ビッグメンチカツ,NaN,NaN,NaN,NaN,快晴,--,16.1

### Nanを0に置換

In [49]:
train = train.fillna(0)
test = test.fillna(0)
train.head()

,datetime,y,week,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature
datetime,,,,,,,,,,,,
2013-11-18,2013-11-18,90,月,0,厚切りイカフライ,0.0,0,0,0.0,快晴,--,19.8
2013-11-19,2013-11-19,101,火,1,手作りヒレカツ,0.0,0,0,0.0,快晴,--,17.0
2013-11-20,2013-11-20,118,水,0,白身魚唐揚げ野菜あん,0.0,0,0,0.0,快晴,--,15.5
2013-11-21,2013-11-21,120,木,1,若鶏ピリ辛焼,0.0,0,0,0.0,快晴,--,15.2
2013-11-22,2013-11-22,130,金,1,ビッグメンチカツ,0.0,0,0,0.0,快晴,--,16.1

In [50]:
train["fun"] = train["remarks"].apply(lambda x: 1 if x=="お楽しみメニュー" else 0)
train["curry"] = train["name"].apply(lambda x : 1 if x.find("カレー")>=0 else 0)
test["fun"] = test["remarks"].apply(lambda x: 1 if x=="お楽しみメニュー" else 0)
test["curry"] = test["name"].apply(lambda x : 1 if x.find("カレー")>=0 else 0)
print(train[30:40])
print(test[30:40])

             datetime    y week  soldout          name   kcal remarks event  \
datetime
2014-01-09   2014-1-9  129    木        1        鶏チリソース  435.0       0     0
2014-01-10  2014-1-10   87    金        0      手作りロースカツ  440.0       0     0
2014-01-14  2014-1-14  129    火        1   鶏の照り焼きマスタード  376.0       0     0
2014-01-15  2014-1-15  134    水        0        さんま辛味焼  450.0       0     0
2014-01-16  2014-1-16  107    木        0  カレイ唐揚げ野菜あんかけ  415.0       0     0
2014-01-17  2014-1-17   85    金        1           回鍋肉  430.0       0  ママの会
2014-01-20  2014-1-20  126    月        1    ジューシーメンチカツ  375.0       0     0
2014-01-21  2014-1-21  129    火        1       サバ焼味噌掛け  447.0       0     0
2014-01-22  2014-1-22  126    水        1   手作りひれかつとカレー  426.0       0     0
2014-01-23  2014-1-23  107    木        0            酢豚  400.0       0     0

            payday weather precipitation  temperature  fun  curry
datetime
2014-01-09     0.0       曇            --         10.9    0      0
2014-01-10     1.0      快晴            --          5.1    0      0
2014-01-14     0.0      晴れ            --          5.8    0      0
2014-01-15     0.0       曇            --          2.9    0      0
2014-01-16     0.0      快晴            --          7.0    0      0
2014-01-17     0.0      快晴            --          7.8    0      0
2014-01-20     0.0      晴れ            --          6.5    0      0
2014-01-21     0.0      快晴            --         10.4    0      0
2014-01-22     0.0      快晴            --          7.4    0      1
2014-01-23     0.0      快晴            --          8.5    0      0
      datetime week  soldout            name   kcal       remarks event  \
30  2014-11-14    金        1      エビフライ・エビカツ  427.0             0     0
31  2014-11-17    月        1      野菜ごろごろシチュー  433.0             0     0
32  2014-11-18    火        1            麻婆豆腐  409.0             0     0
33  2014-11-19    水        0  ベルギー風チキンのクリーム煮  430.0  料理長のこだわりメニュー     0
34  2014-11-20    木        1          スタミナ炒め  421.0             0     0
35  2014-11-21    金        0           ロコモコ丼    0.0      お楽しみメニュー     0
36  2014-11-25    火        1     なすと挽肉のはさみ揚げ  460.0             0     0
37  2014-11-26    水        1         鶏肉の治部煮風  415.0             0     0
38  2014-11-27    木        0             牛丼風  420.0             0     0
39  2014-11-28    金        0    鶏肉のスイートチリソース  416.0             0     0

    payday weather precipitation  temperature  fun  curry
30     0.0      快晴            --         15.8    0      0
31     0.0      薄曇            --         14.3    0      0
32     0.0      快晴            --         16.1    0      0
33     0.0      快晴            --         14.9    0      0
34     0.0       曇            --         10.5    0      0
35     0.0      快晴            --         14.9    1      0
36     0.0       雨           1.5         11.4    0      0
37     0.0       雨             1          9.2    0      0
38     0.0      快晴            --         15.1    0      0
39     0.0       曇            --         15.3    0      0

### 降水量の操作

In [51]:
train.loc[train["precipitation"] == "--","precipitation"] = 0
test.loc[test["precipitation"] == "--","precipitation"] = 0
train["precipitation"] = train['precipitation'].astype(np.float64)
test["precipitation"] = test['precipitation'].astype(np.float64)
train.head()

,datetime,y,week,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature,fun,curry
datetime,,,,,,,,,,,,,,
2013-11-18,2013-11-18,90,月,0,厚切りイカフライ,0.0,0,0,0.0,快晴,0.0,19.8,0,0
2013-11-19,2013-11-19,101,火,1,手作りヒレカツ,0.0,0,0,0.0,快晴,0.0,17.0,0,0
2013-11-20,2013-11-20,118,水,0,白身魚唐揚げ野菜あん,0.0,0,0,0.0,快晴,0.0,15.5,0,0
2013-11-21,2013-11-21,120,木,1,若鶏ピリ辛焼,0.0,0,0,0.0,快晴,0.0,15.2,0,0
2013-11-22,2013-11-22,130,金,1,ビッグメンチカツ,0.0,0,0,0.0,快晴,0.0,16.1,0,0

### 天気のデータを数値に置換

In [52]:
u = train["weather"].unique()
print(u)
print(type(u))
u = test["weather"].unique()
print(u)
print(type(u))

['快晴' '曇' '晴れ' '薄曇' '雨' '雪' '雷電']
<class 'numpy.ndarray'>
['雨' '曇' '晴れ' '薄曇' '快晴']
<class 'numpy.ndarray'>

In [53]:
train["weather_number"] = 0
test["weather_number"] = 0
train.head()

,datetime,y,week,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature,fun,curry,weather_number
datetime,,,,,,,,,,,,,,,
2013-11-18,2013-11-18,90,月,0,厚切りイカフライ,0.0,0,0,0.0,快晴,0.0,19.8,0,0,0
2013-11-19,2013-11-19,101,火,1,手作りヒレカツ,0.0,0,0,0.0,快晴,0.0,17.0,0,0,0
2013-11-20,2013-11-20,118,水,0,白身魚唐揚げ野菜あん,0.0,0,0,0.0,快晴,0.0,15.5,0,0,0
2013-11-21,2013-11-21,120,木,1,若鶏ピリ辛焼,0.0,0,0,0.0,快晴,0.0,15.2,0,0,0
2013-11-22,2013-11-22,130,金,1,ビッグメンチカツ,0.0,0,0,0.0,快晴,0.0,16.1,0,0,0

In [54]:
train.loc[train["weather"] == "快晴","weather_number"] = 1
train.loc[train["weather"] == "曇","weather_number"] = 2
train.loc[train["weather"] == "晴れ","weather_number"] = 3
train.loc[train["weather"] == "薄曇","weather_number"] = 4
train.loc[train["weather"] == "雨","weather_number"] = 5
train.loc[train["weather"] == "雪","weather_number"] = 6
train.loc[train["weather"] == "雷電","weather_number"] = 7

test.loc[test["weather"] == "快晴","weather_number"] = 1
test.loc[test["weather"] == "曇","weather_number"] = 2
test.loc[test["weather"] == "晴れ","weather_number"] = 3
test.loc[test["weather"] == "薄曇","weather_number"] = 4
test.loc[test["weather"] == "雨","weather_number"] = 5

train.head()

,datetime,y,week,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature,fun,curry,weather_number
datetime,,,,,,,,,,,,,,,
2013-11-18,2013-11-18,90,月,0,厚切りイカフライ,0.0,0,0,0.0,快晴,0.0,19.8,0,0,1
2013-11-19,2013-11-19,101,火,1,手作りヒレカツ,0.0,0,0,0.0,快晴,0.0,17.0,0,0,1
2013-11-20,2013-11-20,118,水,0,白身魚唐揚げ野菜あん,0.0,0,0,0.0,快晴,0.0,15.5,0,0,1
2013-11-21,2013-11-21,120,木,1,若鶏ピリ辛焼,0.0,0,0,0.0,快晴,0.0,15.2,0,0,1
2013-11-22,2013-11-22,130,金,1,ビッグメンチカツ,0.0,0,0,0.0,快晴,0.0,16.1,0,0,1

### 曜日データを数値に置換

In [55]:
u = train["week"].unique()
print(u)
print(type(u))

['月' '火' '水' '木' '金']
<class 'numpy.ndarray'>

In [56]:
train["week_number"] = 0
test["week_number"] = 0

In [57]:
train.loc[train["week"] == "月","week_number"] = 1
train.loc[train["week"] == "火","week_number"] = 2
train.loc[train["week"] == "水","week_number"] = 3
train.loc[train["week"] == "木","week_number"] = 4
train.loc[train["week"] == "金","week_number"] = 5

test.loc[test["week"] == "月","week_number"] = 1
test.loc[test["week"] == "火","week_number"] = 2
test.loc[test["week"] == "水","week_number"] = 3
test.loc[test["week"] == "木","week_number"] = 4
test.loc[test["week"] == "金","week_number"] = 5

train.head()

,datetime,y,week,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature,fun,curry,weather_number,week_number
datetime,,,,,,,,,,,,,,,,
2013-11-18,2013-11-18,90,月,0,厚切りイカフライ,0.0,0,0,0.0,快晴,0.0,19.8,0,0,1,1
2013-11-19,2013-11-19,101,火,1,手作りヒレカツ,0.0,0,0,0.0,快晴,0.0,17.0,0,0,1,2
2013-11-20,2013-11-20,118,水,0,白身魚唐揚げ野菜あん,0.0,0,0,0.0,快晴,0.0,15.5,0,0,1,3
2013-11-21,2013-11-21,120,木,1,若鶏ピリ辛焼,0.0,0,0,0.0,快晴,0.0,15.2,0,0,1,4
2013-11-22,2013-11-22,130,金,1,ビッグメンチカツ,0.0,0,0,0.0,快晴,0.0,16.1,0,0,1,5

### 不要データの削除

In [58]:
train = train.drop(columns=["datetime","week","name","kcal","remarks","event","weather","week_number"])
test = test.drop(columns=["datetime","week","name","kcal","remarks","event","weather","week_number"])
train.head()

,y,soldout,payday,precipitation,temperature,fun,curry,weather_number
datetime,,,,,,,,
2013-11-18,90,0,0.0,0.0,19.8,0,0,1
2013-11-19,101,1,0.0,0.0,17.0,0,0,1
2013-11-20,118,0,0.0,0.0,15.5,0,0,1
2013-11-21,120,1,0.0,0.0,15.2,0,0,1
2013-11-22,130,1,0.0,0.0,16.1,0,0,1

In [59]:
test.head()

   soldout  payday  precipitation  temperature  fun  curry  weather_number
0        1     0.0            0.0         20.2    0      0               5
1        0     0.0            0.0         23.9    0      0               2
2        0     0.0            0.0         28.7    0      0               3
3        1     0.0            0.5         21.5    0      0               5
4        0     0.0            0.0         22.1    0      0               3

### 販売数の取り出し

In [60]:
y = train["y"]
print(y)

datetime
2013-11-18     90
2013-11-19    101
2013-11-20    118
2013-11-21    120
2013-11-22    130
             ...
2014-09-24     59
2014-09-25     50
2014-09-26     45
2014-09-29     56
2014-09-30     40
Name: y, Length: 207, dtype: int64

### トレーニングデータから販売数を削除

In [61]:
train = train.drop(columns=["y"])
train.head()

,soldout,payday,precipitation,temperature,fun,curry,weather_number
datetime,,,,,,,
2013-11-18,0,0.0,0.0,19.8,0,0,1
2013-11-19,1,0.0,0.0,17.0,0,0,1
2013-11-20,0,0.0,0.0,15.5,0,0,1
2013-11-21,1,0.0,0.0,15.2,0,0,1
2013-11-22,1,0.0,0.0,16.1,0,0,1

### 配列に変換

In [62]:
train_data = train.values
train_labels = y.values
test_data = test.values

### 特徴を正規化する（特徴の平均を減算して標準偏差で除算）

In [63]:
mean = train_data.mean(axis=0)
std = train_data.std(axis=0)
train_data = (train_data - mean) / std
test_data = (test_data - mean) / std

### モデルを作成する

In [64]:
from keras.models import Sequential
from keras.layers import Dense

model = Sequential()
model.add(Dense(64, activation='relu', input_shape=(train_data.shape[1],)))
model.add(Dense(64, activation='relu'))
model.add(Dense(1))

model.compile(optimizer='adam', 
              loss='mse', 
              metrics=['mae'])

In [65]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_4 (Dense)              (None, 64)                512
_________________________________________________________________
dense_5 (Dense)              (None, 64)                4160
_________________________________________________________________
dense_6 (Dense)              (None, 1)                 65
=================================================================
Total params: 4,737
Trainable params: 4,737
Non-trainable params: 0
_________________________________________________________________

### 学習する

In [66]:
history = model.fit(train_data, 
                    train_labels,
                    batch_size=1,
                    epochs=50,
                    verbose=1)

Epoch 1/50
207/207 [==============================] - 1s 4ms/step - loss: 6765.5908 - mae: 75.3492
Epoch 2/50
207/207 [==============================] - 1s 4ms/step - loss: 941.0457 - mae: 21.9786
Epoch 3/50
207/207 [==============================] - 1s 4ms/step - loss: 521.8190 - mae: 16.9742
Epoch 4/50
207/207 [==============================] - 1s 3ms/step - loss: 511.8723 - mae: 16.6861
Epoch 5/50
207/207 [==============================] - 1s 3ms/step - loss: 513.2900 - mae: 17.0906
Epoch 6/50
207/207 [==============================] - 1s 3ms/step - loss: 494.3144 - mae: 16.5884
Epoch 7/50
207/207 [==============================] - 1s 3ms/step - loss: 506.8838 - mae: 16.6575
Epoch 8/50
207/207 [==============================] - 1s 3ms/step - loss: 487.8346 - mae: 16.4713
Epoch 9/50
207/207 [==============================] - 1s 3ms/step - loss: 484.7761 - mae: 16.5771
Epoch 10/50
207/207 [==============================] - 1s 3ms/step - loss: 484.1801 - mae: 16.2611
Epoch 11/50
207/207 [==============================] - 1s 3ms/step - loss: 482.7749 - mae: 16.1803
Epoch 12/50
207/207 [==============================] - 1s 3ms/step - loss: 471.6034 - mae: 16.3202
Epoch 13/50
207/207 [==============================] - 0s 2ms/step - loss: 478.6395 - mae: 16.4569
Epoch 14/50
207/207 [==============================] - 0s 2ms/step - loss: 467.6376 - mae: 16.1277
Epoch 15/50
207/207 [==============================] - 0s 1ms/step - loss: 468.5283 - mae: 16.0304
Epoch 16/50
207/207 [==============================] - 0s 1ms/step - loss: 466.9405 - mae: 15.9817
Epoch 17/50
207/207 [==============================] - 0s 1ms/step - loss: 466.6275 - mae: 16.1355
Epoch 18/50
207/207 [==============================] - 0s 1ms/step - loss: 465.5027 - mae: 15.9353
Epoch 19/50
207/207 [==============================] - 0s 1ms/step - loss: 458.4621 - mae: 15.9580
Epoch 20/50
207/207 [==============================] - 0s 1ms/step - loss: 453.1893 - mae: 15.9578
Epoch 21/50
207/207 [==============================] - 0s 1ms/step - loss: 460.6315 - mae: 16.1938
Epoch 22/50
207/207 [==============================] - 0s 1ms/step - loss: 449.4622 - mae: 15.7267
Epoch 23/50
207/207 [==============================] - 0s 1ms/step - loss: 450.6947 - mae: 15.5518
Epoch 24/50
207/207 [==============================] - 0s 1ms/step - loss: 442.9433 - mae: 15.7410
Epoch 25/50
207/207 [==============================] - 0s 1ms/step - loss: 442.5971 - mae: 15.6761
Epoch 26/50
207/207 [==============================] - 0s 2ms/step - loss: 436.5374 - mae: 15.8918
Epoch 27/50
207/207 [==============================] - 0s 1ms/step - loss: 444.0775 - mae: 15.6332
Epoch 28/50
207/207 [==============================] - 0s 1ms/step - loss: 441.6642 - mae: 15.6696
Epoch 29/50
207/207 [==============================] - 0s 1ms/step - loss: 423.9675 - mae: 15.3196
Epoch 30/50
207/207 [==============================] - 0s 1ms/step - loss: 438.3449 - mae: 15.7565
Epoch 31/50
207/207 [==============================] - 0s 1ms/step - loss: 435.7450 - mae: 15.3920
Epoch 32/50
207/207 [==============================] - 0s 1ms/step - loss: 422.6936 - mae: 15.1826
Epoch 33/50
207/207 [==============================] - 0s 1ms/step - loss: 429.6318 - mae: 15.2663
Epoch 34/50
207/207 [==============================] - 0s 1ms/step - loss: 432.1089 - mae: 15.2159
Epoch 35/50
207/207 [==============================] - 0s 1ms/step - loss: 421.0145 - mae: 15.1515
Epoch 36/50
207/207 [==============================] - 0s 1ms/step - loss: 417.6646 - mae: 15.0334
Epoch 37/50
207/207 [==============================] - 0s 1ms/step - loss: 409.4136 - mae: 14.8630
Epoch 38/50
207/207 [==============================] - 0s 1ms/step - loss: 405.8687 - mae: 14.7013
Epoch 39/50
207/207 [==============================] - 0s 1ms/step - loss: 406.8097 - mae: 14.7395
Epoch 40/50
207/207 [==============================] - 0s 1ms/step - loss: 397.4354 - mae: 14.5910
Epoch 41/50
207/207 [==============================] - 0s 1ms/step - loss: 399.5067 - mae: 14.4816
Epoch 42/50
207/207 [==============================] - 0s 1ms/step - loss: 395.6915 - mae: 14.3758
Epoch 43/50
207/207 [==============================] - 0s 1ms/step - loss: 395.8271 - mae: 14.2960
Epoch 44/50
207/207 [==============================] - 0s 1ms/step - loss: 385.5828 - mae: 14.2207
Epoch 45/50
207/207 [==============================] - 0s 1ms/step - loss: 367.5679 - mae: 13.9846
Epoch 46/50
207/207 [==============================] - 0s 1ms/step - loss: 369.5357 - mae: 14.1966
Epoch 47/50
207/207 [==============================] - 0s 1ms/step - loss: 376.1748 - mae: 13.9669
Epoch 48/50
207/207 [==============================] - 0s 1ms/step - loss: 374.9924 - mae: 13.9679
Epoch 49/50
207/207 [==============================] - 0s 1ms/step - loss: 370.8536 - mae: 13.8189
Epoch 50/50
207/207 [==============================] - 0s 1ms/step - loss: 375.0059 - mae: 13.9727

### 誤差を調査する

In [67]:
score = model.evaluate(train_data, train_labels, verbose=0)
print()
print("Testing set Mean Abs Error: {:7.2f}".format( score[1]))

Testing set Mean Abs Error:   13.73

In [68]:
train_labels

array([ 90, 101, 118, 120, 130, 135, 145, 140, 151, 116, 151, 153, 151,
       171, 134, 165, 155, 157, 109, 111, 160, 145, 145, 151, 134, 122,
       121,  80, 131, 128, 129,  87, 129, 134, 107,  85, 126, 129, 126,
       107,  92, 126, 120, 121, 105,  92, 139, 121, 126, 111,  91, 137,
       111,  84,  86, 137,  99, 113,  85, 113, 129, 104, 104,  90,  69,
       131, 100, 110,  77,  73, 123,  89,  68,  80,  70, 129,  90,  72,
       100, 102,  77,  51,  55, 106,  84, 125,  99, 100,  90, 107,  96,
        88,  87, 128,  92,  82,  57,  57,  56, 109,  78,  63,  56,  80,
        54,  97,  64,  47,  88,  59,  58,  73,  70,  64,  58, 126,  70,
        71, 104,  54,  65,  77,  79,  74,  64, 119,  74,  59,  47,  64,
        93,  74,  56,  50,  72, 121,  76,  63,  66,  56,  57,  72,  61,
        64,  49,  74,  65,  54,  50,  53,  63,  82,  56,  54,  48, 124,
        65,  51,  53,  53,  55,  53,  56,  62,  83,  65,  52,  58,  60,
        38,  75,  54,  58,  63, 129,  45,  40,  56,  53,  56,  54, 100,
        55,  68,  62,  56,  39,  65,  68,  53,  54,  43,  68,  63,  54,
        53, 115,  56,  49,  46,  45,  29,  59,  50,  45,  56,  40],
      dtype=int64)

In [69]:
train_predictions = model.predict(train_data).flatten() 
myArray = np.array(train_predictions)
myArray = myArray.astype(int)
myArray

array([ 88, 109, 111, 117, 113, 112,  98, 109,  91, 119, 120, 120, 111,
       116, 113, 120, 129, 112, 119, 120, 120, 113, 122, 125, 121, 120,
       126, 119, 122, 115, 117, 127, 121, 129, 128, 126, 120, 124, 127,
       125, 118, 130, 118, 124, 110, 120, 113, 118, 133, 126, 121, 125,
       121, 121, 112, 114, 118, 120, 119, 118, 123, 122, 110, 111,  89,
       118, 118, 100, 128, 127, 126, 125,  95,  89, 117, 116,  92, 115,
       100, 101,  92,  85,  76, 118,  90, 102,  88,  90,  97, 116,  95,
        91,  81, 130,  96,  88,  70,  86, 117,  97,  94,  90,  88,  83,
        63,  83,  58,  60,  92,  73,  63,  65,  87,  69,  92, 118,  77,
        62,  98,  81,  80,  72,  60,  69,  71, 120,  59,  59,  54,  76,
        89,  69,  59,  64,  69, 120,  67,  59,  75,  54,  59,  53,  60,
        69,  55,  80,  59,  52,  68,  59,  66,  63,  54,  70,  49, 118,
        65,  54,  64,  65,  67,  54,  64,  63,  84,  65,  54,  54,  55,
        59,  63,  62,  66,  55, 128,  55,  64,  53,  63,  55,  59, 101,
        54,  74,  73,  70,  56,  74,  65,  53,  66,  54,  75,  54,  61,
        68, 121,  54,  56,  58,  62,  55,  69,  55,  54,  70,  57])

### 検査データで予測する

In [70]:
test_predictions = model.predict(test_data).flatten() 
myArray = np.array(test_predictions)
myArray = myArray.astype(int)
myArray

array([ 80,  59,  54,  68,  65,  77,  65, 135,  59,  87,  84,  71,  72,
        77,  99,  90,  87,  75,  99,  89,  79,  84,  82, 107,  92, 121,
        76, 105, 106,  98, 114, 107, 113, 113, 118,  91,  93,  96, 112,
       103])

### サンプルデータから出力データを作成

In [71]:
sample.shape

(40, 2)

In [72]:
myArray = np.array(test_predictions)
myArray = myArray.astype(int)
sample['y'] = myArray
s = sample.drop(1, axis=1)
s

             0    y
0    2014-10-1   80
1    2014-10-2   59
2    2014-10-3   54
3    2014-10-6   68
4    2014-10-7   65
5    2014-10-8   77
6    2014-10-9   65
7   2014-10-10  135
8   2014-10-14   59
9   2014-10-15   87
10  2014-10-16   84
11  2014-10-17   71
12  2014-10-20   72
13  2014-10-21   77
14  2014-10-22   99
15  2014-10-23   90
16  2014-10-24   87
17  2014-10-27   75
18  2014-10-28   99
19  2014-10-29   89
20  2014-10-30   79
21  2014-10-31   84
22   2014-11-4   82
23   2014-11-5  107
24   2014-11-6   92
25   2014-11-7  121
26  2014-11-10   76
27  2014-11-11  105
28  2014-11-12  106
29  2014-11-13   98
30  2014-11-14  114
31  2014-11-17  107
32  2014-11-18  113
33  2014-11-19  113
34  2014-11-20  118
35  2014-11-21   91
36  2014-11-25   93
37  2014-11-26   96
38  2014-11-27  112
39  2014-11-28  103

### CSVファイル出力

In [73]:
import csv
f = open('out.csv','w',newline='')
writer = csv.writer(f)
writer.writerows(s.values)
f.close()